/* Edit Profile */

.main-edit-div
{
	text-align: center;
}

.main-edit-div .header h1
{
	color: #FFF;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
}

.edit-profile-nav
{
	margin-left: 5%;
}

.well
{
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

/* Navigation */
.nav-pills li
{
}

.nav-pills a {
	color: #FFF;
    background-color: #F68F1E;
	font-family: 'Roboto', sans-serif;

    border-radius: 0px !important;
}

.nav-pills .active a {
	color: #FFF;
    background-color: #DA4926 !important;
    /*#28B1D7*/
}

.nav-pills .active a:hover {
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
	color: #FFF;
    background-color: #DA4926 !important;

	transition: all 0.3s linear;
}

.edit-profile-div
{
	font-family: 'Roboto', sans-serif;

	position: relative;
	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	margin-right: 5%;

	height: 80%;

	text-align: left;

	float: right;
}

#edit-form
{
}

#edit-form input[type=radio]
{
	margin: 0 10px 0 10px;
}

#edit-form input
{
	margin: 5px 0 5px 0;
}

.general-settings
{
}

.travel-settings
{
}

.interests-settings
{
}

.languages-settings
{
}

.general-settings h3, .travel-settings h3, .interests-settings h3, .languages-settings h3
{
	margin-top: 0px;
	text-align: center;
	text-decoration: underline;
}

.host-label
{
}

.host-details-div
{
	width: 100%;
	background-color: #FFF;

	padding: 10px;
	border-radius: 4px;
	border: #DDDDDC 1px solid;
}

.host-details-div input[type=text]
{
	text-align: left;
}

.host-section-div
{
}
