/* Edit Profile */

html
{
	background: linear-gradient(rgba(240, 240, 240, 1), rgba(240, 240, 240, 1)), url("") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body
{
	background-color: #000 !important;
}


.well
{
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.main-news-div
{
	font-family: 'Roboto', sans-serif;
	position: relative;

	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	width: 60%;
	float: left;

	overflow: hidden;

	height: 100%;
	margin: 30px 0 0 0;
}

.news-item
{
	width: 80%;
	background-color: #FFF !important;

	text-align: left;
}

.news-item .controls
{
	list-style: none;
	width: 100%;
}

.news-item .controls li
{
	background-color: #DDDDDC;

	display: inline-block;

	border-radius: 8px;
	padding: 5px 15px 5px 15px;
	margin: 0 10px 0 10px;

	cursor: pointer;
}

.news-item p
{
	font-size: 14px;
}

/* Sidebar */

.news-sidebar
{
	position: relative;
	width: 30%;
	height: 100%;
	margin: 30px 0 0 0;

	float: right;

	font-size: 16px;
	font-family: 'Roboto', sans-serif;

	text-align: left;
}

.news-sidebar .title
{
	color: #999;
}

.suggestion-div
{
	width: 80%;

	background-color: #FFF !important;
	border-radius: 0px;
	text-align: center;

	cursor: pointer;

	transition: all 0.3s;
}

.suggestion-div:hover
{
	background-color: #EEE !important;

	transition: all 0.3s;
}

.suggestion-div img
{
	width: 100px;
	height: 100px;
	background-color: #000;

	border: 3px solid rgba(0, 0, 0, 0.7);
	float: left;
}

.suggestion-div .info
{
	display: inline-block;
	width: 60%;

	text-align: left;

	margin: -20px 0 -20px 0;
}

.suggestion-div .info .name
{
	font-size: 20px;
	margin-left: -10px;
}

.suggestion-div .info .description
{
	font-size: 16px;
	color: #777;
}