/* Edit Profile */

html
{
	background: linear-gradient(rgba(240, 240, 240, 1), rgba(240, 240, 240, 1)), url("") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body
{
	background-color: #000 !important;
}


.well
{
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.main-search-div
{
	font-family: 'Roboto', sans-serif;
	position: relative;

	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	width: 100%;
	margin: 0 auto;

	overflow: hidden;

	height: 100%;
	margin-top: 30px !important;
}

.search-title
{
	color: #999;
}

.search-div
{
	background-color: #FFF;
	width: 80%;
}

.search-input-div
{
	width: 40%;
}

.search-results-div
{
	width: 60%;
	text-align: left;

	float: left;
	margin: 0 0 0 60px;
}

.result-item
{
	width: 40%;
	display: inline-block;
	margin: 10px 10px 10px 10px;
	border-radius: 0px;

	background-color: #FFF !important;

	text-align: left;
	cursor: pointer;

	transition: all 0.3s;
}

.result-item img
{
	width: 100px;
	height: 100px;
	background-color: #000;

	float: left;
	border: 3px solid rgba(0, 0, 0, 0.7);
}

.result-item .name
{
	margin: 0;
}

.result-item .description
{
	font-size: 12px;
	color: #999;

	margin: 5px 0 0 113px;
}

.result-item:hover
{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);

	transition: all 0.3s;
}

.dim
{
	opacity: 0.5;

	transition: all 0.3s;
}

.result-item p
{
	font-size: 14px;
}

/* Sponsored posts */

.sponsored-main-div
{
	width: 30%;
	float: right;
}

.sponsored-main-div h2
{
	color: #999;
}

.sponsored-div
{
	width: 80%;
	border-radius: 0px;
	margin: 10px 0 0 0;

	background-color: #FFF !important;

	cursor: pointer;

	transition: all 0.3s;
}

.sponsored-div img
{
	border: 2px solid #000;
}

.sponsored-div p
{
	text-align: center;
}

.sponsored-div:hover
{
	background-color: #DDD !important;

	transition: all 0.3s;
}

.sponsored-div p
{
	font-size: 14px;
}