/* Edit Profile */

html
{
	background: linear-gradient(rgba(240, 240, 240, 1), rgba(240, 240, 240, 1)), url("") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body
{
	background-color: #000 !important;
}


.well
{
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 2px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.main-search-div
{
	font-family: 'Roboto', sans-serif;
	position: relative;

	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	width: 100%;
	margin: 0 auto;

	overflow: hidden;

	height: 100%;
	margin-top: 30px !important;
}

.search-title
{
	color: #999;
}

.search-div
{
	background-color: #FFF;
	width: 80%;
}

.search-input-div
{
	width: 40%;
}

.result-item
{
	width: 20%;
	display: inline-block;
	margin: 10px 10px 10px 10px;
	border-radius: 6px;

	background-color: #FFF !important;

	text-align: left;
	cursor: pointer;

	transition: all 0.3s;
}

.result-item:hover
{
	background-color: #DDDDDC !important;

	transition: all 0.3s;
}

.result-item p
{
	font-size: 14px;
}