html
{
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.alert
{
	margin: 0 5% 0 5%;
}

.header-text
{
	color: #FFF;
	font-family: 'Roboto', sans-serif;
}

.jumbotron
{
	background-color: transparent !important;
	height: 100%;
}

.ng-scope
{
	background-color: transparent !important;
}

.btn-orange {
    background: #F68F1E;
    color: #DDDDDC;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;

    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;

    border-radius: 8px;

	transition: all 0.4s ease;
}
 
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open > .dropdown-toggle.btn-orange {
    background: #DA4926;
    color: #DDDDDC !important;
}
 
.btn-orange:active, .btn-orange.active {
    background: #DA4926;
    box-shadow: none;
}

input[type=text], input[type=email], input[type=password]
{
	background: rgba(255, 255, 255, 0.5);
	color: #000;

	text-align: center;
}

/* Login Page CSS */

#menu-container
{
	background: transparent;
	border-radius: 0;
	display: inline-block;
	width:100%;
	margin:0px;
}

.menu-left ul
{
	margin: 0;
	padding:0;
	font-size: 17px; 
    width: 100%;
}

.menu-left ul li
{
	display:inline-block;
	vertical-align: top;
	width: 40%;
}

.menu-left ul li a
{
	color: #FFF;
	text-decoration: none;
    text-align: center;
	outline: none;

	padding: 15px 0;
	height: 60px;

	display: block;

	background: #F68F1E;

	transition: all 0.4s ease;
}

.menu-left ul li a:active,
.menu-left ul li a:hover
{
	background: #DA4926;
}

#quote-text
{
	font-family: 'Roboto', sans-serif;

	position: absolute;
	left: 50%;
	top: 30%;

	color: #FFF;
}

@media screen and (max-width: 750px) {
	#quote-text
	{
		display: none;
	}
}

#login-form
{
	padding-bottom: 70px;
	margin: 0;
}

#login-form .input-group
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#username-input
{
	display: inline;
}

#password-input
{
	display: inline;
}

.main-login-div
{
}

.login-div
{
	position: relative;
	text-align: center;

	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	margin-left: 5%;
	margin-top: 3%;

	width: 20%;
	min-width: 310px;
	max-height: 100%;

	background-color: rgba(218, 73, 38, 0.5) !important;
	border-color: rgba(218, 73, 38, 0.5) !important;
	border-radius: 32px !important;
}

@media screen and (max-width: 750px) {
	.login-div
	{
		width: 80%;
		margin: 0 auto;
	}
}

/* Register Form CSS */

#tagline
{
	color: #DDDDDC;
	text-align: center;
}

.register-main-div
{
	font-family: 'Roboto', sans-serif;

	position: relative;
	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	width: 60%;
	margin: 0 auto;

	height: 80%;
}

.register-div
{
	margin: auto;
	width: 100%;

	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

#register-form
{
}

.left-form
{
	width: 40%;
	margin-left: 5%;
	float: left;
}

.right-form
{
	width: 40%;
	margin-right: 5%;
	float: right;

	text-align: center;
}

#register-form input[type=radio]
{
	margin: 0 10px 0 10px;
}

#register-form input
{
	margin: 5px 0 5px 0;
}

#terms-text
{
	background-color: rgba(255, 255, 255, 0.5);

	border-radius: 8px;
	border: none;

	padding: 10px;
}

/* Register Page - Mobile stuff */
@media screen and (max-width: 750px) {
	.register-main-div
	{
		width: 80%;
		margin: 0 auto;
	}

	.left-form
	{
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	.right-form
	{
		float: none;
		width: 100%;
		margin: 0 auto;
	}
}

/* Profile CSS */

.profile-div
{
	font-family: 'Roboto', sans-serif;

	position: relative;
	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	width: 100%;
	margin: 0 auto;

	height: 80%;
}


.profile-nav
{
	padding: 0 0 0px 0;
	text-align: left;
}

.profile-nav .name
{
	color: #FFF;
	font-size: 32px;
}

.profile-nav-left
{
	width: 20%;
	margin-left: 5%;

	padding: 20px;

	text-align: center;

	display: inline-block;

	float: left;
}

.profile-nav-right
{
	width: 65%;
	float: right;
	margin-right: 5%;

	text-align: left;

	display: inline-block;

	float: right;
}

.profile-nav-right h1
{
	color: #FFF !important;
}

.display-pic
{
	width: 100%;
	min-width: 200px;

	border-style: solid;
	border-width: 6px;
	border-color: #333;
	border-radius: 16px;
}

.profile-quote
{
	width: 100%;

	margin-bottom: 0px;
}

.profile-sidebar
{
	width: 20%;
	min-width: 200px;

	margin-left: 5%;
	float: left;

	text-align: center;
}

.profile-main
{
	width: 65%;
	margin-right: 5%;
	float: right;

	text-align: center;

	display: inline-block;
}

.profile-main .profile-section
{
	width: 100%;
}

.profile-section .title
{
	text-align: left;
}

.interests-div
{
	width: 100%;
}

.interests-div table
{
	text-align: left;
}

tr.spaceUnder > td
{
	padding-bottom: 10px;
	padding-right: 50px;
}

.interests-div table tbody .title
{
	font-weight: bold;
}

.interests-div table tbody .content
{
	width: 80%;
}

.hobbies-div
{

}

.history-div
{

}

/* Profile - Mobile stuff */
@media screen and (max-width: 750px) {

	.profile-quote
	{
		position: relative;
	}

	.profile-nav
	{
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	.profile-nav-left
	{
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	.profile-nav-right
	{
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	.profile-div
	{
		width: 80%;
		margin: 0 auto;
	}

	.profile-sidebar
	{
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	.profile-main
	{
		float: none;
		width: 100%;
		margin: 0 auto;
	}
}

/* Edit Profile */

.main-edit-div
{
	text-align: center;
}

.edit-profile-div
{
	font-family: 'Roboto', sans-serif;

	position: relative;
	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	width: 40%;
	margin: 0 auto;

	height: 80%;

	text-align: left;
}

#edit-form
{
}

#edit-form input[type=radio]
{
	margin: 0 10px 0 10px;
}

#edit-form input
{
	margin: 5px 0 5px 0;
}

/* Register Page - Mobile stuff */
@media screen and (max-width: 750px) {
	.edit-profile-div
	{
		width: 80%;
		margin: 0 auto;
	}
}

/*TODO shift this to suitable place*/

form .ng-invalid.ng-dirty {background-color: lightpink;}
form .ng-valid.ng-dirty {background-color: lightgreen;}
