html, body
{
	height: 100%;

}

.header-text
{
	color: #FFF;
	font-family: 'Roboto', sans-serif;
}

.jumbotron
{
	height: 100%;

	background-image: url("../images/background.jpg");
	background-size: cover;
}
 
.btn-orange {
    background: #F68F1E;
    color: #DDDDDC;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;

    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;

    border-radius: 8px;

	transition: all 0.4s ease;
}
 
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open > .dropdown-toggle.btn-orange {
    background: #DA4926;
    color: #DDDDDC !important;
}
 
.btn-orange:active, .btn-orange.active {
    background: #DA4926;
    box-shadow: none;
}


/* Login Page CSS */

#menu-container
{
	background: transparent;
	border-radius: 0;
	display: inline-block;
	width:100%;
	margin:0px;
}

.menu-left ul
{
	margin: 0;
	padding:0;
	font-size: 17px; 
    width: 100%;
}

.menu-left ul li
{
	display:inline-block;
	vertical-align: top;
	width: 40%;
}

.menu-left ul li a
{
	color: #FFF;
	text-decoration: none;
    text-align: center;
	outline: none;

	padding: 15px 0;
	height: 60px;

	display: block;

	background: #F68F1E;

	transition: all 0.4s ease;
}

.menu-left ul li a:active,
.menu-left ul li a:hover
{
	background: #DA4926;
}

#quote-text
{
	font-family: 'Roboto', sans-serif;

	position: absolute;
	left: 50%;
	top: 30%;

	color: #FFF;
}

@media screen and (max-width: 750px) {
	#quote-text
	{
		display: none;
	}
}

#login-form
{
	padding-bottom: 70px;
	margin: 0;
}

#login-form .input-group
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#username-input
{
	display: inline;
}

#password-input
{
	display: inline;
}

.login-div
{
	position: relative;
	text-align: center;

	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	margin-left: 5%;

	width: 20%;
	min-width: 310px;
	max-height: 100%;

	background-color: rgba(218, 73, 38, 0.5) !important;
	border-color: rgba(218, 73, 38, 0.5) !important;
	border-radius: 32px !important;
}

@media screen and (max-width: 750px) {
	.login-div
	{
		width: 80%;
		margin: 0 auto;
	}
}

/* Register Form CSS */

#tagline
{
	text-align: center;
}

.register-main-div
{
	font-family: 'Roboto', sans-serif;

	position: relative;
	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	width: 30%;
	margin: 0 auto;

	height: 80%;
}

@media screen and (max-width: 750px) {
	.register-main-div
	{
		width: 80%;
		margin: 0 auto;
	}
}

.register-div
{
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

#register-form
{
}

.left-form
{
	position: relative;
	left: -50%;
}

.right-form
{
	position: relative;
	left: 100%;
}

#register-form input[type=text], input[type=email], input[type=password]
{
	background: rgba(255, 255, 255, 0.5);
	color: #000;

	text-align: center;
}

#register-form input[type=radio]
{
	margin-left: 10px;
	margin-right: 5px;
}

#register-form input
{
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Profile CSS */

.profile-div
{
	position: relative;
	/*
	left: 20%;
	transform: translate(-50%, 0%);
	*/

	width: 30%;
	margin: 0 auto;

	height: 80%;
}

/* Mobile stuff */
@media screen and (max-width: 750px) {
	.profile-div
	{
		width: 80%;
		margin: 0 auto;
	}

	.left-form
	{
		left: 0%;
	}

	.right-form
	{
		left: 0%;
	}
}

#update-form
{

}
//TODO shift this to suitable place
form .ng-invalid.ng-dirty {background-color: lightpink;}
form .ng-valid.ng-dirty {background-color: lightgreen;}
