<!--div ng-controller="LoginController" class="main-login-div"-->
<div class="main-coming-soon-div" align="center">
    <div class="header">
    <img src="./images/logo256.png">
    </div>

    <div class="coming-soon-div">
    <h2 class="coming-soon-text">Coming soon</h2>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in quam sed augue eleifend mollis. Morbi maximus interdum diam, at volutpat magna ullamcorper a. Etiam aliquam arcu ac efficitur ultricies. Aenean vitae ultricies diam. Donec a diam id velit finibus vulputate. Vestibulum mollis quis tortor non porttitor.</p>

    <br>
    
    <div class="input-group email-div">
    <input type="email" class="form-control" placeholder="example@mail.com">
      <span class="input-group-btn">
        <button class="btn btn-danger" type="button">Tell me more</button>
      </span>
    </div>
    </div>

</div>
