<div ng-controller="EditProfileController" class="main-edit-div">
  <br>
  <br>

  <div ng-show="alertMessage" class="{{ alertClass }} alert" role="alert">{{ alertMessage }}</div>

  <div class="header">
  <h1>Edit Profile</h>
  </div>

  <br>

  <div class="edit-profile-nav">
    <ul class="nav nav-pills nav-stacked col-md-3">
    <li ng-class="{active:currentTab == 0}" ><a href ng-click="currentTab=0"><i class="fa fa-cogs"></i>&nbsp; General Settings</a></li>
    <li ng-class="{active:currentTab == 1}"><a href ng-click="currentTab=1"><i class="fa fa-plane"></i>&nbsp; Travel Preferences</a></li>
    <li ng-class="{active:currentTab == 2}"><a href ng-click="currentTab=2"><i class="fa fa-futbol-o"></i>&nbsp; Hobbies</a></li>
    <li ng-class="{active:currentTab == 3}"><a href ng-click="currentTab=3"><i class="fa fa-futbol-o"></i>&nbsp; Languages</a></li>
    </ul>
  </div>

  <div class="edit-profile-div col-md-7">
    <form name="editForm" novalidate ng-submit="updateProfile(user)" id="edit-form">

      <div class="well general-settings" ng-show="currentTab == 0">
        <h3>General Settings</h3>
        <br>

        <input name="userName" type="text" class="form-control " required ng-model="user.name" placeholder="Name">
        <div class="error " ng-show="editForm.userName.$invalid && editForm.userName.$dirty">
        <span ng-show="editForm.userName.$error.required">
        Uh please enter something
        </span>
        </div>

        <input name="userEmail" type="email" class="form-control " required ng-model="user.email" placeholder="Email">
        <div class="error " ng-show="editForm.userEmail.$invalid && editForm.userEmail.$dirty">
        <span ng-show="editForm.userEmail.$error.email">
        Please enter a valid email address
        </span>
        <span ng-show="editForm.userEmail.$error.required">
        Uh please enter something
        </span>
        </div>

        <input name="userPassword" type="password" class="form-control " ng-model="user.password" placeholder="Password">
        <input name="userPasswordConfirmation" type="password" class="form-control " ng-model="user.password_confirmation" compare-to="user.password" placeholder="Re-enter Password">
        <div class="error " ng-show="editForm.userPasswordConfirmation.$invalid && editForm.userPasswordConfirmation.$dirty">
        <span ng-show="editForm.userPasswordConfirmation.$error">
        Passwords don't match
        </span>
        </div>

        <br>

        <label class="">Country of residence:
        <select name="userNationResidence" id="repeatSelect" class="" ng-model="countryResidence" ng-change="changeCitiesOption(countryResidence)" ng-options="nation.id as nation.name for nation in data.nations" required>
        </select>
        </label>

        <div class="error " ng-show="editForm.userNationResidence.$invalid">
        <span ng-show="editForm.userNationResidence.$error.required">
        Uh please choose your country
        </span>
        </div>

        <br>

        <label>City:
        <select name="userCityResidence" id="repeatSelect" class="" ng-model="cityResidence" ng-options="city as city.name for city in data.cities" required>
        </select>
        </label>

        <div class="error " ng-show="editForm.userCityResidence.$invalid">
        <span ng-show="editForm.userCityResidence.$error.required">
        Uh please choose your city
        </span>
        </div>
        <br>
        <br>

        <div ng-init="user.gender">
        <label>Gender: 
        <input type="radio" name="answer" value="male" ng-model="user.gender"/>Male
        <input type="radio" name="answer" value="female" ng-model="user.gender"/>Female
        </label>
        </div>

        <br>
        <label class="checkbox-label" ng-class="{ checked: user.willingToHost }"><input name="WillingToHost" type="checkbox" ng-model="user.willingToHost">I'm willing to host</label>

        <br>
        <br>

        <button class="btn btn-orange" type="submit" ng-disabled="editForm.$invalid">Update Profile</button>
      </div>

      <div class="well travel-settings" ng-show="currentTab == 1">
        <div>
        <h3>Nations to visit</h3>
        <br>
        <div ng-repeat="nation in data.nations">
        <label class="checkbox-label" ng-class="{ checked: wantsToGo(nation.id) }"><input type="checkbox" name="user.countries_want_to_go[]" ng-checked="wantsToGo(nation.id)" ng-click="toggleNationSelection(nation.id)">{{nation.name}}</label>
    		</div>

        <br>
        <button class="btn btn-orange" type="submit" ng-disabled="editForm.$invalid">Update Profile</button>
        </div>
      </div>

      <div class="well interests-settings" ng-show="currentTab == 2">
        <h3>Interests</h3>
        <br>
        <div ng-repeat="hobby in data.hobbies">
        <label class="checkbox-label" ng-class="{ checked: hasHobby(hobby.id) }"><input type="checkbox" ng-model="user.hobbies[hobby.id - 1]" ng-checked="hasHobby(hobby.id)" ng-click="toggleHobbySelection(hobby.id)">{{hobby.name | capitalize}}</label>
        </div>

        <br>
        <button class="btn btn-orange" type="submit" ng-disabled="editForm.$invalid">Update Profile</button>
      </div>

        <div class="well languages-settings" ng-show="currentTab == 3">
            <h3>Languages</h3>
            <br>
            <div ng-repeat="language in data.languages">
            <label class="checkbox-label" ng-class="{ checked: hasLanguage(language.id) }"><input type="checkbox" ng-model="user.languages[language.id - 1]" ng-checked="hasLanguage(language.id)" ng-click="toggleLanguageSelection(language.id)">{{language.name}}</label>
            </div>
            <br>
            <button class="btn btn-orange" type="submit" ng-disabled="editForm.$invalid">Update Profile</button>
        </div>

      </div>
    </form>
</div>
</div>
