<div ng-controller="EditProfileController">
  	<div class="well profile-div">

    <h3>Edit Profile</h3>
	<form name="updateProfileForm" novalidate ng-submit="updateProfile(user)" id="update-form">
		<label>Name:</label>
		<input name="userName" type="text" class="form-control" required ng-model="user.name">

		<label>Email:</label>
		<input name="userEmail" type="email" class="form-control" required ng-model="user.email">

		<label>Password:</label>
		<input name="userPassword" type="password" class="form-control" required ng-model="user.password">

		<label>Password confirmation:</label>
		<input name="userPasswordConfirmation" type="password" class="form-control" required ng-model="user.passwordConfirmation" compare-to="user.password">

		<br>

		<label>Country of residence:</label>
		<select name="userNationResidence" id="country-select" ng-options="nation as nation.name for nation in data.nations track by nation.id" ng-model="user.nationResidence" required>
		<!--<option ng-repeat="nation in data.nations" value="{{nation.id}}">{{nation.name}}</option>-->
		</select>

		<label>Countries you want to go to:</label>
		<label ng-repeat="nation in data.nations">
		<input
		type="checkbox"
		name="selectedNations[]"
		value="{{nation.id}}"
		ng-checked="nationSelection.indexOf(nation.id) > -1"
		ng-click="toggleNationSelection(nation.id)"
		> {{nation.name}}
		</label><br>

		<label>Hobbies:</label>
		<label ng-repeat="hobby in data.hobbies">
		<input
		type="checkbox"
		name="selectedHobbies[]"
		value="{{hobby.id}}"
		ng-checked="hobbySelection.indexOf(hobby.id) > -1"
		ng-click="toggleHobbySelection(hobby.id)"
		> {{hobby.name}}
		</label>
		<br>

		<label><input name="WillingToHost" type="checkbox" class="form-control" ng-model="user.willingToHost">I'm willing to host</label>

		<br>
		<button type="submit" ng-disabled="updateProfileForm.$invalid">Update Profile</button>
	</form>
    </div>

	message:{{message}}
	valid:{{updateProfileForm.$valid}}
</div>
