<div id="content">

<div class="container-fluid">

  <div class="lock-container">
    <div ng-show="alertMessage" class="{{ alertClass }} alert" role="alert">{{ alertMessage }}</div>
    <div class="panel panel-default text-center">
      <div class="panel-body">

        <h4 class="page-section-heading">Reset your password</h4>
        <!--div ng-controller="ForgotPasswordController" class="forget-password-div" align="center"-->
          <form name="forgotPasswordForm" novalidate ng-submit="sendEmail(user)" id="">

              <input name="userEmail" type="email" class="form-control " required ng-model="user.email" placeholder="Email">
              <div class="error " ng-show="forgotPasswordForm.userEmail.$invalid && forgotPasswordForm.userEmail.$dirty">
              <span ng-show="forgotPasswordForm.userEmail.$error.email">
              Please enter a valid email address
              </span>
              <span ng-show="forgotPasswordForm.userEmail.$error.required && !forgotPasswordForm.userEmail.$error.email">
              Uh please enter something
              </span>
              </div>

              <br>

              <button type="button" class="btn btn-default" ng-click="changeView('/')">Back</button>
              <button class="btn btn-primary" type="submit" ng-disabled="forgotPasswordForm.$invalid">Get my Password</button>
          </form>
      </div>
    </div>
  </div>

</div>
</div>


<!--div ng-controller="ForgotPasswordController" class="forget-password-div" align="center"-->
<div class="forget-password-div" align="center">
  <div ng-show="alertMessage" class="{{ alertClass }} alert" role="alert">{{ alertMessage }}</div>
  <br>
  <br>

  <div class="header">
  <h1>Enter your Email</h>
  </div>

  <br>

