<div ng-controller="ForgotPasswordController" class="main-edit-div">
  <div ng-show="alertMessage" class="{{ alertClass }} alert" role="alert">{{ alertMessage }}</div>
	<br>
  <br>

  <div class="header">
  <h1>Enter your Email</h>
  </div>

  <br>

  <div class="edit-profile-div col-md-7">
    <form name="forgotPasswordForm" novalidate ng-submit="sendEmail(user)" id="edit-form">

      <div class="well general-settings" >
        Please enter the email you register bla
        <input name="userEmail" type="email" class="form-control " required ng-model="user.email" placeholder="Email">
        <div class="error " ng-show="forgotPasswordForm.userEmail.$invalid && forgotPasswordForm.userEmail.$dirty">
        <span ng-show="forgotPasswordForm.userEmail.$error.email">
        Please enter a valid email address
        </span>
        <span ng-show="forgotPasswordForm.userEmail.$error.required">
        Uh please enter something
        </span>
        </div>

      <button class="btn btn-orange" type="submit" ng-disabled="forgotPasswordForm.$invalid">Let's Ride</button>
      </div>
    </form>
</div>
</div>
