<div ng-controller="LoginController">
    	<div class="well login-div">
    	<form name="loginForm" novalidate ng-submit="loginUser(user)" id="login-form">
	        <label>Email:</label><input name="userEmail" type="email" class="form-control" required ng-model="user.email">
	        <label>Password:</label><input name="userPassword" type="password" class="form-control" required ng-model="user.password">
	        <br>
	        <button type="submit" ng-disabled="loginForm.$invalid">Login</button>

	        <br>
	        <a href="register">Register</a> | <a href="">Forgot Your Password?</a>
    	</form>
	    </div>

    message:{{message}}
    valid:{{loginForm.$valid}}

</div>
