<div ng-controller="LoginController" class="main-login-div">
        <div class="header">
        <img src="./images/logo256.png">
        </div>
        
        <div ng-show="alertMessage" class="{{ alertClass }} alert" role="alert">{{ alertMessage }}</div>

    	<div class="well login-div">

    	<h2 class="header-text">Welcome Back.</h2>
    	<br>

    	<form name="loginForm" novalidate ng-submit="loginUser(newUser)" id="login-form">
            <div class="input-group">
                <span class="input-group-addon" id="user-icon-addon"><i class="icon fa fa-user"></i></span>
                <input id="username-input" name="user-name" type="text" class="form-control" placeholder="example@email.com" required ng-model="newUser.email">
            </div>

            <div class="input-group">
                <span class="input-group-addon" id="password-icon-addon"><i class="fa fa-unlock-alt"></i></span>
                <input id="password-input" name="user-password" type="password" class="form-control" placeholder="Password" required ng-model="newUser.password">
            </div>

            <br>

	        <button type="submit" class="btn btn-orange" ng-disabled="loginForm.$invalid">Login</button>
    	</form>

        <div id="menu-container">
            <div class="menu-left">
                <ul id="menu-principal" class="menu">
                    <li><a href ng-click="changeView('register')" class="btn-orange">Register</a></li>
                    <li><a href ng-click="changeView('forgotpassword')" class="btn-orange">Forgot Password?</a></li>
                </ul>
            </div>
        </div>

        </div>

        <h3 id="quote-text">{{ quote.text }} - {{ quote.author }}</h3>

    message:{{message}}
    valid:{{loginForm.$valid}}

</div>
