<div ng-controller="ProfileController">
  	<div class="profile-div">

  	<div class="profile-nav">
	  	<div class="profile-nav-left">
	    <img class="display-pic" ng-src="{{ profilePic }}">
	    </div>

	    <div class="profile-nav-right">
		    <h1>{{ user.name }}</h1>

			<div class="well profile-quote">
			{{ user.quote }}
			</div>
	    </div>
    </div>

    <div style="clear: left"></div>
    <br>

  	<div class="well profile-sidebar">

  	<button ng-show="isEditable" ng-click="editProfile()" class="edit-button fa fa-pencil" ng-disabled="!isEditable"></button>

    <!--
    <div class="input-group">
    <input name="userName" type="text" id="username-textfield" ng-class="{'textfield-noneditable': !editing.username}" class="form-control" required ng-model="user.name" ng-readonly="!editing.username">

     <span class="edit-span input-group-addon" id="basic-addon2"><button ng-click="editing.username = !editing.username" class="edit-button fa fa-pencil" ng-disabled="isEditable"></button></span>
     </div>
     -->

	 <h3>{{ user.name }}</h3>

	<label>{{ user.gender ? "Male" : "Female" }}</label>

	<br>

	<label>{{ user.birthday }}</label>

    <br>

	<label>{{ user.nationResidence.name }}</label>

	<!--
	<label>Countries {{ user.name }} wants to go to:</label>
	<ul>
	<li ng-repeat="nation in data.nations | filter: wantsToGo">
	{{ nation.name }}
	</li>
	</ul>
	-->

	<br>

	<!--
	<label>{{ user.name }}'s Hobbies:</label>
	<ul>
	<li ng-repeat="hobby in data.hobbies | filter: hasHobby">
	{{ hobby.name }}
	</li>
	</ul>
	-->

	<label>{{ user.name }} is {{ user.willing_to_host ? "willing to host." : "not willing to host." }}</label>
	</div>

	<div class="profile-main">
		<div class="well profile-section interests-div">
		<h3 class="title">Personal Interests</h3>
		<br>

		<table>
			<tbody>
			<tr class="spaceUnder">
			<td class="title">Countries</td>
			<td class="content">
				<li ng-repeat="country in user.countries_want_to_go">{{ country.country_name }}</li>
			</td>
			</tr>
			<tr class="spaceUnder">
			<td class="title">Role</td>
			<td class="content">
				<li ng-repeat="role in user.roles">{{ role }}</li>
			</td>
			</tr>
			<tr class="spaceUnder">
			<td class="title">Hobbies</td>
			<td class="content">
				<li ng-repeat="interest in user.interests">{{ interest.interest_name }}</li>
			</td>
			</tr>
      <tr class="spaceUnder">
			<td class="title">Languages</td>
			<td class="content">
				<li ng-repeat="language in user.languages">{{ language.language_name }}</li>
			</td>
			</tr>
			</tbody>
		</table>

		</div>

		<div class="well profile-section hobbies-div">
		<h3 class="title">Hobbies</h3>
		<br>
		</div>

		<div class="well profile-section history-div">
		<h3 class="title">History</h3>
		<br>
		</div>
	</div>

    </div>
</div>
