<!--div ng-controller="ProfileController" class="profile-div"-->
<div class="profile-div">

  	<div class="profile-nav">
	  <div ng-show="alertMessage" class="{{ alertClass }} alert" role="alert">{{ alertMessage }}</div>

	  	<div class="profile-nav-left">
	    <img class="display-pic shadow" ng-src="{{ user.avatar }}">
	    </div>

	    <div class="profile-nav-right">
		    <h1>{{ user.name }}</h1>

			<ul class="nav nav-pills">
			  <li role="presentation" ng-class="{active:currentTab == 2}"><a href ng-click="currentTab=2">Journal</a></li>
			  <li role="presentation" ng-class="{active:currentTab == 3}"><a href ng-click="currentTab=3">Photographs</a></li>
			  <li role="presentation" ng-class="{active:currentTab == 4}"><a href ng-click="currentTab=4">Travels</a></li>
			  <li role="presentation" ng-class="{active:currentTab == 5}"><a href ng-click="currentTab=5">Information</a></li>
			</ul>

			<br>

			<div class="well profile-quote">
			{{ user.quote ? user.quote : "You are not currently displaying a quote."}}
			<a href ng-click="changeView('edit')" class="edit-quote-btn"><i class="fa fa-pencil"></i></a>
			</div>
	    </div>
    <div style="clear: both"></div>

    </div>

    <br>
    <br>

  	<div class="well profile-sidebar profile-section">

    <!--
    <div class="input-group">
    <input name="userName" type="text" id="username-textfield" ng-class="{'textfield-noneditable': !editing.username}" class="form-control" required ng-model="user.name" ng-readonly="!editing.username">

     <span class="edit-span input-group-addon" id="basic-addon2"><button ng-click="editing.username = !editing.username" class="edit-button fa fa-pencil" ng-disabled="isEditable"></button></span>
     </div>
     -->

	<h3>{{ user.name }} <a href ng-show="isOwnProfile" ng-click="editProfile()" class="edit-button" ng-disabled="!isEditable"><i class="fa fa-pencil"></i></a></h3>

	<p class="followed-text">{{ isFollowed ? "is following you." : "is not following you." }}</p>

	<a href class="btn btn-default" ng-hide="isOwnProfile" ng-click="followUser()">{{ isFollowing ? "Unfollow" : "Follow" }}</a>

	<div class="followers-detail-div">
	<br>
	<p class="followers-detail" ng-class="{followersactive:currentTab == 0}" ng-click="currentTab=0">{{ user.followers.length }}<br>followers</p>
	<p class="followers-detail" ng-class="{followersactive:currentTab == 1}" ng-click="currentTab=1">{{ user.followeds.length }}<br>following</p>
	</div>

  	<br>

  	<ul class="user-details">
	<li><i ng-class="genderIcon"></i> <label>{{ user.gender | capitalize }}</label></li>
	<li><i class="fa fa-birthday-cake"></i> <label>{{ user.birthday ? user.birthday : "None" }}</label></li>
	<li><i class="fa fa-globe"></i> <label>{{ user.city }}</label></li>
	<li><i class="fa fa-home"></i> <label>{{ user.willing_to_host ? "Willing to host!" : "Not willing to host." }}</label>
		<ul class="host-details">
			<li ng-show="user.can_transport"><i class="fa fa-car"></i> Can transport</li>
			<li ng-show="user.can_tourguide"><i class="fa fa-users"></i> Can be a tour guide</li>
			<li ng-show="user.can_accomendation"><i class="fa fa-home"></i> Can provide accomodation</li>
			<li ng-show="user.can_pickup"><i class="fa fa-car"></i> Can pickup</li>
		</ul>
	</li>
	</ul>

	</div>

	<div class="profile-main">

	<div class="info-div" ng-show="currentTab == 0">
		<div class="well profile-section followers-div">
		<h3 class="title"><i class="fa fa-bookmark"></i>&nbsp; {{ user.name }}'s Followers</h3>
		<br>

		<div class="follower-info-div" ng-repeat="follower in user.followers" ng-click="viewProfile(follower.follower_id)">
		<h3>{{ follower.follower_name }}</h3>
		<p>Some info here</p>
		</div>

		</div>
	</div>

	<div class="info-div" ng-show="currentTab == 1">
		<div class="well profile-section followeds-div" ng-show="currentTab == 1">
		<h3 class="title"><i class="fa fa-bookmark"></i>&nbsp; {{ user.name }} is following:</h3>
		<br>

		<div class="follower-info-div" ng-repeat="follower in user.followeds" ng-click="viewProfile(follower.followed_id)">
		<h3>{{ follower.followed_name }}</h3>
		<p>Some info here</p>
		</div>

		</div>
	</div>

	<div class="info-div" ng-show="currentTab == 2">
		<div class="well profile-section journal-div">
		<h3 class="title"><i class="fa fa-bookmark"></i>&nbsp; My Journal</h3>
		<br>

		<div class="journal-entry">
		Boring journal entries here
		</div>

		</div>
	</div>

	<div class="info-div" ng-show="currentTab == 3">
		<div class="well profile-section photograph-div">
		<h3 class="title"><i class="fa fa-camera"></i>&nbsp; Photographs</h3>
		<br>
		Boring photographs here
		</div>
	</div>

	<div class="info-div" ng-show="currentTab == 4">
		<div class="well profile-section travels-div">
		<h3 class="title"><i class="fa fa-map-marker"></i>&nbsp; Travels</h3>
		<br>
		Where I've been
		</div>
	</div>

	<div class="info-div" ng-show="currentTab == 5">
		<div class="well profile-section interests-div">
		<h3 class="title"><i class="fa fa-info-circle"></i>&nbsp; Personal Interests</h3>
		<br>

		<table>
			<tbody>
			<tr class="spaceUnder">
			<td class="title"><i class="fa fa-globe"></i>&nbsp; Countries</td>
			<td class="content">
				<span ng-repeat="country in data.nations" ng-if="wantsToGo(country.id)">{{ country.name }}
				<span ng-show="$index < user.countries_want_to_go.length - 1">, </span>
				</span>
			</td>
			</tr>
			<tr class="spaceUnder">
			<td class="title"><i class="fa fa-user"></i>&nbsp; Role</td>
			<td class="content">
			<ul class="role">
				<li ng-show="user.can_transport"><i class="fa fa-car"></i> Driver: {{ user.transport_detail }}</li>
				<li ng-show="user.can_tourguide"><i class="fa fa-users"></i> Tour guide: {{ user.tourguide_detail }}</li>
				<li ng-show="user.can_accomendation"><i class="fa fa-home"></i> Accomodation: {{ user.accomendation_detail }}</li>
				<li ng-show="user.can_pickup"><i class="fa fa-car"></i> Pick up services: {{ user.pickup_detail }}</li>
			</ul>
			</td>
			</tr>
			<!--
			<tr class="spaceUnder">
			<td class="title">Hobbies</td>
			<td class="content">
				<span ng-repeat="interest in data.hobbies" ng-if="hasHobby(interest.id)">{{ interest.name }}
				<span ng-show="$index < user.interests.length - 1">, </span>
				</span>
			</td>
			</tr>
			-->
	      <tr class="spaceUnder">
			<td class="title"><i class="fa fa-language"></i>&nbsp; Languages</td>
			<td class="content">
				<span ng-repeat="language in data.languages" ng-if="hasLanguage(language.id)">{{ language.name }}
				<span ng-show="$index < user.languages.length - 1">, </span>
				</span>
			</td>
			</tr>
			</tbody>
		</table>

		</div>

		<div class="well profile-section hobbies-div">
		<h3 class="title"><i class="fa fa-soccer-ball-o"></i>&nbsp; Hobbies</h3>
		<br>
		<ul>
		<li ng-repeat="interest in data.hobbies" ng-if="hasHobby(interest.id)">{{ interest.name }}</li>
		</span>
		</ul>
		</div>

		<div class="well profile-section history-div">
		<h3 class="title"><i class="fa fa-history"></i>&nbsp; History</h3>
		<br>
		</div>
	</div>

	</div>

</div>
