<div ng-controller="RegisterController">
  <div class="register-div">
    <h3> Register an Account</h3>
        <div class="well">
        <form name="registerForm" novalidate ng-submit="registerUser(newUser)" id="register-form">
          <label>Name:</label>
          <input name="userName" type="text" class="form-control" required ng-model="newUser.name">
          <label>Email:</label>
          <input name="userEmail" type="email" class="form-control" required ng-model="newUser.email">
          <label>Password:</label>
          <input name="userPassword" type="password" class="form-control" required ng-model="newUser.password">
          <label>Password confirmation:</label>
          <input name="userPasswordConfirmation" type="password" class="form-control" required ng-model="newUser.passwordConfirmation" compare-to="newUser.password">
          <label>Country of residence:</label>
          <select name="userNationResidence" id="repeatSelect" ng-model="newUser.nationResidence" required>
            <option ng-repeat="nation in data.nations" value="{{nation.id}}">{{nation.name}}</option>
          </select>
          <label>Countries you want to go to:</label>
          <label ng-repeat="nation in data.nations">
            <input
            type="checkbox"
            name="selectedNations[]"
            value="{{nation.id}}"
            ng-checked="nationSelection.indexOf(nation.id) > -1"
            ng-click="toggleNationSelection(nation.id)"
            > {{nation.name}}
          </label><br>
          <label>Hobbies:
          <label ng-repeat="hobby in data.hobbies">
            <input
            type="checkbox"
            name="selectedHobbies[]"
            value="{{hobby.id}}"
            ng-checked="hobbySelection.indexOf(hobby.id) > -1"
            ng-click="toggleHobbySelection(hobby.id)"
            > {{hobby.name}}
          </label><br>
          <label><input name="WillingToHost" type="checkbox" class="form-control" ng-model="newUser.willingToHost">I'm willing to Host</label>
          <label><input name="agreed" type="checkbox" class="form-control" required ng-model="newUser.agreed">agree with terms</label><br>
          <button type="submit" ng-disabled="registerForm.$invalid">Register</button>
        </form>
        </div>

      message:{{message}}
      valid:{{registerForm.$valid}}

    </div>
  </div>
