<div ng-controller="ResetPasswordController" class="main-edit-div">
  <div ng-show="alertMessage" class="{{ alertClass }} alert" role="alert">{{ alertMessage }}</div>
	<br>
  <br>

  <div class="header">
  <h1>Enter your new password</h>
  </div>

  <br>

  <div class="edit-profile-div col-md-7">
    <form name="forgotPasswordForm" novalidate ng-submit="resetPassword(user)" id="edit-form">

      <div class="well general-settings" >
        <input name="userPassword" type="password" class="form-control " required ng-model="user.password" placeholder="Password">
        <input name="userPasswordConfirmation" type="password" class="form-control " required ng-model="user.password_confirmation" compare-to="user.password" placeholder="Re-enter Password">
        <div class="error " ng-show="registerForm.userPasswordConfirmation.$invalid && registerForm.userPasswordConfirmation.$dirty">
            <span ng-show="registerForm.userPasswordConfirmation.$error">
              Passwords don't match
            </span>
        </div>

      <button class="btn btn-orange" type="submit" ng-disabled="forgotPasswordForm.$invalid">Let's Ride</button>
      </div>
    </form>
</div>
</div>
