<div id="content">

<div class="container-fluid">

  <div class="lock-container">
    <div ng-show="alertMessage" class="{{ alertClass }} alert" role="alert">{{ alertMessage }}</div>
    <h1>Reset Password</h1>
    <br>
    
    <div class="panel panel-default text-center">
      <img src="images/logo256.png">
      <br>
      <div class="panel-body">

        <form name="forgotPasswordForm" novalidate ng-submit="resetPassword(user)" id="edit-form">

        <div class="panel-body">
        <input class="form-control" name="userPassword" type="password" class="form-control " required ng-model="user.password" placeholder="Password">
        <br>
        <input class="form-control"  name="userPasswordConfirmation" type="password" class="form-control " required ng-model="user.password_confirmation" compare-to="user.password" placeholder="Re-enter Password">
        <div class="error " ng-show="registerForm.userPasswordConfirmation.$invalid && registerForm.userPasswordConfirmation.$dirty">
        <span ng-show="registerForm.userPasswordConfirmation.$error">
        Passwords don't match
        </span>
        </div>

        <br>

        <button class="btn btn-primary" type="submit" ng-disabled="forgotPasswordForm.$invalid">Let's Ride</button>
        </div>
        </form>
      </div>
    </div>
  </div>

</div>
</div>

