<ul class="timeline-list">
<li class="media media-clearfix-xs">
<div class="media-left">
  <div class="user-wrapper">
    <img src="images/theme/people/110/guy-5.jpg" alt="people" class="img-circle" width="80" />
    <div><a href ng-click="$parent.viewProfile(item.author_id)">{{ item.author }}</a></div>
    <div class="date">19 OCT</div>
  </div>
</div>
<div class="media-body">
  <div class="media-body-wrapper">
    <div class="panel panel-default">

      <div class="panel-body">
      <a href ng-click="" class="btn btn-primary btn-xs" ng-show="item.type == 'repost'"><i class="fa fa-retweet"></i> Repost</a>&nbsp
        <small ng-show="item.type == 'repost'">Reposted from <a href ng-click="$parent.viewProfile(item.author_id)">{{ item.author }}</a><br><br></small>
        <p>{{ item.content }}</p>
          <div class="pull-right dropdown" ng-show="item.author_id == $parent.data.current_user_id">
            <a href data-toggle="dropdown" class="toggle-button">
              <i class="fa fa-pencil"></i>
            </a>
            <ul class="dropdown dropdown-menu" role="menu">
              <!-- <li><a href="#">Edit</a></li> -->
              <li>
                <a href ng-click="$parent.deletePost(item)">Delete</a>
              </li>
            </ul>
          </div>
      </div>
      <div>
      </div>

      <div class="view-all-comments">
        <a href ng-style="$parent.postLikedStyle(item)" ng-click="$parent.likePost(item)"> <i class="fa fa-thumbs-up"></i> {{ item.likes_count }}</a>
        <a href ng-click="shouldShowComments = !shouldShowComments">
          <i class="fa fa-comments-o"></i> {{ item.replies.length }} comments
        </a>

      </div>
      
      <!-- TODO: Loop through comments list, output all comments -->
      <ul class="comments">

      <li class="media" ng-repeat="comment in item.replies" ng-show="shouldShowComments">
        <div class="media-left">
          <a href="">
            <img src="images/theme/people/50/guy-5.jpg" class="media-object">
          </a>
        </div>
        <div class="media-body">
          <div class="pull-right dropdown" ng-show="comment.author_id == $parent.$parent.data.current_user_id">
            <a href data-toggle="dropdown" class="toggle-button">
              <i class="fa fa-pencil"></i>
            </a>
            <ul class="dropdown dropdown-menu" role="menu">
              <!-- <li><a href="#">Edit</a></li> -->
              <li>
                <!-- <a href ng-click="$parent.$parent.deleteComment(comment)"><i class="fa fa-trash"></i></a>&nbsp; -->
                <a href ng-click="$parent.$parent.deleteComment(comment)">Delete</a>
              </li>
            </ul>
          </div>
          <a href ng-click="$parent.$parent.viewProfile(comment.author_id)" class="comment-author pull-left">{{ comment.author_name }}</a>
          <span>{{ comment.content }}</span>
          <div class="comment-date">21st September</div>
        </div>
      </li>

<!--       <news-feed-comment comment=reply ng-repeat="reply in item.replies"></news-feed-comment>
 -->
      <li class="media">
        <div class="media-left">
          <a href="">
            <img src="images/theme/people/50/guy-5.jpg" class="media-object">
          </a>
        </div>
        <div class="media-body">
          <a href ng-click="$parent.viewProfile($parent.data.current_user_id)" class="comment-author pull-left">{{ $parent.username }}</a>
          <span>
            <form name="status-form" novalidate ng-submit="$parent.postReply($parent.newReply, item.id)" id="status-form">
                <input type="text" name="status" class="form-control share-text" rows="3" placeholder="Share your comment..." ng-model="$parent.newReply">
                <button type="submit" class="btn btn-primary btn-xs pull-right" ng-disabled="!$parent.newReply">Post!</button>
            </form>
          </span>
        </div>
      </li>

      </ul>

    </div>
  </div>
</div>
</li>
</ul>
